<%= form_for(@url) do |f|%>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>
  <p><%= f.label :original_url %>
  <%= f.text_field :original_url %></p>
  <%= f.submit "Create Shortened URL"%>
<% end %>

